.sec1 {
    background: url(projectbgsec1.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width:auto;

    display:flex;
}

.header {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 10px auto;
    padding: 10px auto;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Arial, sans-serif;
    margin: 0;
    /* Remove default margin */
    padding: 10px;
    /* Remove default padding */
}