.sec1 h1 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;

    text-align: center;
    padding: 20px 0px 20px 0px;

    color: darkgreen;

}
hr {
    width: 20%;
    height: 2px;
    background-color: rgb(122, 122, 122);
    border: none;
    margin: 0 auto;
    margin-bottom: 20px;
}

.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: transform 0.5s ease;
}

.sector {
    min-width: 100%;
    padding: 20px;
    background-color: white;
    text-align: center;
    transition: all 0.3s ease;
}

.sector p {
    color:darkgreen;
    line-height: 1.6;
    font-size: 1rem;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.sector img{
    width: 250px;
    height: 150px;
    justify-self: center;
    object-fit: cover;
    margin-bottom: 20px;
}

.slider-nav {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.slider-btn {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.slider-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (min-width: 768px) {
    .sector {
        min-width: 50%;
    }
}

@media (min-width: 992px) {
    .sector {
        min-width: 25%;
    }
}